# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Machine Learning
*.pkl
*.h5
*.pt

# Node
node_modules/
dist/
build/

# Environment
.env

# Database
*.sqlite
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
